@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
    .clip-hero{
        clip-path: polygon(0 0, 50% 0, 75% 100%, 0% 100%);
    }
    .clip-second{
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 15% 100%);
    }
    .p-1_10{
        padding:5%;
    }
    

    .card_reflection::after{
        content: '';
        width: 100%;
        height:100%;
        left:0;
        top:0;
        position:absolute;
        transform: rotatex(180deg) translatey(-105%); 
        background:rgba(92, 157, 237, .1);
        mask-image: linear-gradient(transparent 50%, white 90%);
        z-index:50;
    }

    .small_section{
        width:100%;
        height:75vh;
    }
    .very_small_section{
        height:50vh;
        width:100%;
    }
    @media (max-width: 1224px) {
        .small_section{
            height:100vh
        }
    }

    .custom_shadow{
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    
}

body{
    overflow-x: hidden;
}